table {
    margin: auto;
    border-collapse: collapse;
}

td, tr {
    width: 5px;
    height: 5px;
}

td {
    border: 1px solid rgb(203, 203, 203);
    background-color: rgb(203, 203, 203);
    margin: 0;
}

.snake{
    background-color: rgb(30, 255, 0);
    border: 1px solid black;
}

.apple{
    background-color: blueviolet;
}